
@model  MyOnlineExam.Models.QuestionModel

@{
    var totalQuestion = Model.TotalQuestionInSet;
}

<div class="row">
    <div class="col-md-12">
        <div class="question-number">Question: @(Model.QuestionNumber)</div>
        <div>Time Remaining: <span id="minRemaining"></span>:<span id="secRemaining"></span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <table>
            <tr>
                <td><a href="#" class="btn btn-primary" onclick="saveBackward(this);">|<< Save & Previous</a></td>
                <td><a href="@Url.Action("EvalPage", new { @token = Session["TOKEN"], @tid = Session["TESTID"], @qno = (Model.QuestionNumber) })"></a></td>
                @for (int i = 0; i < totalQuestion; i++)
                {
                    <td>
                        <a href="@Url.Action("EvalPage","Hame", new { @token = Session["TOKEN"], @qno = (i+1)})" class="btn @(Model.QuestionNumber == (i + 1) ? "btn-primary": "btn-default" )">@(i + 1)</a>
                    </td>
                }
                <td><a href="@Url.Action("EvalPage", new { @token = Session["TOKEN"], @tid = Session["TESTID"], @qno = (Model.QuestionNumber) })"></a></td>
                <td><a href="#" class="btn btn-primary" onclick="saveForward(this);">Save & Next >></a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <p>
        <br />
        @Html.Raw(Model.Question ?? "")
    </p>
</div>
<br />
<br />

<div class="row">
<!-- Checking the type of data, we wanted-->
@if (Model.QuestionType == "RADIO")
{
    foreach (var item in Model.Options)
    {
        <input type="radio" /> @(item.Label)
        <br />
    }
}
else if (Model.QuestionType == "MULTIPLE")
{
    foreach (var item in Model.Options)
    {
        <input type="checkbox" /> @(item.Label)
        <br />
    }
}
else if (Model.QuestionType == "TEXT")
{
    <textaria>this is a text area</textaria>
}
</div>